@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hiding the Up/Down Arrows on Number inputs for Chromium-based Browsers. */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Hiding the Up/Down Arrows on Number inputs for Firefox. */
input[type='number'] {
	-moz-appearance: textfield;
}

/* Same for hiding the scrollbar. */
.scrollbar-hide::-webkit-scrollbar {
	display: none;
}

.scrollbar-hide {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

@layer components {
	.sidebar-input {
		@apply bg-gray-700 hover:bg-gray-600 text-white font-thin p-1 rounded;
	}

	.sidebar-button {
		@apply bg-gray-700 hover:bg-gray-600 text-white font-thin p-2 my-3 mx-4 rounded w-72 shadow-md;
	}

	.team-button {
		@apply bg-gray-700 hover:bg-gray-600 text-white font-thin p-2 m-4 rounded shadow-md shadow-slate-50 active:bg-gray-800;
	}

	.team-input {
		@apply bg-gray-700 hover:bg-gray-600 text-white font-thin p-1 rounded items-stretch w-48;
	}

	.copy-csv-button {
		@apply bg-gray-700 hover:bg-gray-600 p-1 m-1 rounded shadow-md shadow-slate-500 active:bg-gray-800;
	}

	.player-button {
		@apply bg-gray-700 hover:bg-gray-600 text-white font-thin p-1 m-1 rounded shadow-md active:bg-gray-800;
	}

	.table-border {
		@apply border border-slate-500 px-2;
	}

	.link {
		@apply underline text-blue-200;
	}
}
